@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-blue-500 hover:underline hover:text-blue-400 active:text-blue-600;
    }
}
@layer components {
    .navbar-single-item {
        @apply px-4 py-2 flex items-center justify-start gap-2 !no-underline text-gray-500 hover:bg-blue-200 rounded-l text-sm;
    }
    .navbar-parent-group {
        @apply text-gray-500 font-medium py-2 flex items-center gap-2 text-sm;
    }
    .navbar-child-item {
        @apply px-2 py-1 flex items-center justify-start gap-2 !no-underline text-gray-400 hover:bg-blue-50 rounded-l text-sm;
    }
    .navbar-child-item-active {
        @apply text-blue-500 hover:text-blue-500 bg-blue-200 hover:bg-blue-200;
    }
    .table-container {
        @apply w-full border rounded-lg overflow-hidden;
    }
    .table {
        @apply w-full;
    }
    .tr {
    }
    .th {
        @apply px-4 py-3 text-sm;
    }
    .th-left {
        @apply text-left;
    }
    .th-right {
        @apply text-right;
    }
    .th-center {
        @apply text-center;
    }
    .td {
        @apply px-4 py-3 border-t align-top text-sm;
    }
    .td-center {
        @apply !align-middle;
    }

    .btn {
        @apply px-6 py-2 rounded-md font-medium flex items-center justify-center gap-2 border duration-300 !no-underline;
    }
    .btn-primary {
        @apply bg-blue-500 hover:bg-blue-700 active:bg-blue-600 !text-white border-blue-500;
    }
    .btn-primary-outline {
        @apply bg-white hover:bg-blue-100 active:bg-blue-50 text-blue-500 border-blue-500;
    }
    .btn-danger {
        @apply bg-red-500 hover:bg-red-700 active:bg-red-600 !text-white border-red-500;
    }
    .btn-danger-outline {
        @apply bg-white hover:bg-red-100 active:bg-red-50 text-red-500 border-red-500;
    }
    .card {
        @apply rounded-xl border px-4 py-4 shadow bg-white;
    }
    .card-title {
        @apply font-semibold text-lg;
    }
    .input {
        @apply border rounded-md px-4 py-2 flex;
    }
    label:has(+ .input-required)::after {
        content: " *";
        color: rgb(239 68 68 / var(--tw-border-opacity, 1));
    }
    .input-select {
        @apply border rounded-md px-4 py-2 flex bg-white w-full;
    }
    .input-error {
        @apply border-red-500 focus:outline-none;
    }
    .form-control {
        @apply space-y-1;
    }
    .alert {
        @apply border px-4 py-2 rounded-md;
    }
    .alert-danger {
        @apply border-red-500 bg-red-50 text-red-500;
    }
    .alert-success {
        @apply border-green-500 bg-green-50 text-green-500;
    }
    .input-helper {
        @apply text-xs;
    }
    .input-helper-danger {
        @apply text-red-500;
    }
}

@layer utilities {
    .row {
        @apply grid grid-cols-12 gap-8;
    }
    .cols-1 {
        @apply w-full col-span-1;
    }
    .cols-2 {
        @apply w-full col-span-2;
    }
    .cols-3 {
        @apply w-full col-span-3;
    }
    .cols-4 {
        @apply w-full col-span-4;
    }
    .cols-5 {
        @apply w-full col-span-5;
    }
    .cols-6 {
        @apply w-full col-span-6;
    }
    .cols-7 {
        @apply w-full col-span-7;
    }
    .cols-8 {
        @apply w-full col-span-8;
    }
    .cols-9 {
        @apply w-full col-span-9;
    }
    .cols-10 {
        @apply w-full col-span-10;
    }
    .cols-11 {
        @apply w-full col-span-11;
    }
    .cols-12 {
        @apply w-full col-span-12;
    }
}
